<footer class="fixed-bottom bg-custom text-custom text-center p-3 shadow-lg">
    <p>&copy; 2024 Katari Farms. All rights reserved. Moosdorfstr 7-9, 12435 Berlin, Germany</p>
</footer>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const tooltips = document.querySelectorAll('.image-container');

        tooltips.forEach(function(tooltip) {
            tooltip.addEventListener('mouseover', function() {
                const tooltipBox = this.querySelector('.tooltip');
                if (tooltipBox) {
                    tooltipBox.style.opacity = '1';
                    tooltipBox.style.visibility = 'visible';
                }
            });

            tooltip.addEventListener('mouseout', function() {
                const tooltipBox = this.querySelector('.tooltip');
                if (tooltipBox) {
                    tooltipBox.style.opacity = '0';
                    tooltipBox.style.visibility = 'hidden';
                }
            });
        });
    });
</script>

</body>
</html>