<%- include('partials/header') %>

<body class="bg-cover bg-fixed bg-center" style="background-image: url('/img/katarifarm-banner-small.png');">
    <main class="mt-5 pt-5 container">
        <section class="custom-container p-5 rounded-lg shadow mb-5 text-center">
            <h2 class="font-bowlby text-custom-header mb-4">About Us</h2>
            <p class="container-text">
                At Katari Farms, we are passionate about revolutionizing indoor farming. Our team of experts combines cutting-edge technology with sustainable practices to deliver innovative solutions for modern agriculture. From smart grow lamps to advanced automation systems, we are committed to helping you achieve optimal growth conditions for your plants.
            </p>
        </section>
    </main>

<%- include('partials/footer') %>