<%- include('partials/header') %>

<body class="bg-cover bg-fixed bg-center">
    <main class="container mt-5 pt-5"> <!-- Add mt-5 pt-5 here -->
        <section class="custom-container p-5 rounded-lg shadow mb-5 text-center">
            <h2 class="font-bowlby text-custom-header mb-4">Login</h2>
            <form id="loginForm">
                <div class="form-group">
                    <label for="username" class="text-custom">Username</label>
                    <input type="text" class="form-control" id="username" name="username" required>
                </div>
                <div class="form-group">
                    <label for="password" class="text-custom">Password</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                </div>
                <button type="submit" class="btn btn-custom btn-lg">Login</button>
            </form>
            <div id="loginMessage" class="mt-3"></div>
        </section>
    </main>

<%- include('partials/footer') %>